body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tituloautos {
  color: blueviolet;
}

.footer {
  color: blue;
  font-size: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;; 
}